.Admin{
    /* width: 100%;
    height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.two{
    width: 100%;
    height: 100%;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
}